*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul{
    list-style: none;
}

.header{
    background-color: #F3D565;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.left-items{
    display: flex; 
    padding: 10px;
    gap: 15px;
}


.right-items{
    margin-right: 15px;
}
.nav-items{
    display: flex;
    padding: 10px;
    gap: 38px;
}
